@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color: aqua;
  
}
.header-links{
  display: flex;
  /* padding: 15px; */
  justify-content: center;
  height: 75px;
  font-size: 20px;
 

}
.header-links li{
  padding: 30px;
}
